<div class="container" style="background-color:aqua">
    <div class="jumbotron">
        <h1 style="text-align:center; font-size: 50px">Quotes</h1>
    </div>    
    <div class="row">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form> 
    </div>  
    <ul>
        <div *ngFor="let quote of quotes;let i=index" class="items">
            <p appStrikethrough *ngIf="highestUpvote()===quote.upvotes && quote.upvotes>0">{{quote.name}}</p>
            <p  *ngIf="highestUpvote()!==quote.upvotes || quote.upvotes===0">{{quote.name}}</p>
                
            <button (click)='toggleDetails(i)' class="btn btn-info btn-xs">Toggle Details<i class="fa fa-sort"></i></button>&nbsp;
            <button (click)='upvote(i)' class="btn btn-primary btn-xs"><i class="fa fa-thumbs-o-up"></i>{{quote.upvotes}}</button>&nbsp;&nbsp;
            <button (click)='downvote(i)' class="btn btn-danger btn-xs"><i class="fa fa-thumbs-o-down"></i>{{quote.downvotes}}</button>
            <li id="{{i}}" appStrikethrough>"{{quote.name}}" <em><strong>Posted {{quote.notedDate|dateCount}} day(s) ago.</strong></em></li>
            <app-quote-details *ngIf="quote.showName" [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
        </div>
    </ul>
</div>

<p *ngIf='quotes.length > 10'>You have too many quotes</p>